{% extends 'base.html' %}
{% block content %}

<!-- START PAGE-CONTENT -->
<section class="page-content">
    <!-- Start Account-Create-Area -->
    <div class="account-create-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {% include 'maliasStore/components/_page_menu.html' %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="area-title">
                        <h3 class="title-group gfont-1">Log In</h3>
                    </div>
                </div>
            </div>
            <div class="account-create">
                <form action="{% url 'auth' %}" method="post">
                    <div class="row">
                        <div class="col-md-12">
                            {% csrf_token %}
                            <div class="account-create-box">
                                <h2 class="box-info">Login Information</h2>
                                <div class="row">
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="single-create">
                                            <p>E-mail <sup>*</sup></p>
                                            {{form.username}}
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="single-create">
                                            <p>Password <sup>*</sup></p>
                                            {{form.password}}

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="submit-area">
                                <p class="required text-right">* Required Fields</p>

                                <button type="submit" class="btn btn-primary floatright"
                                        style="margin-left: 10px;">submit</button>
                                <a href="{% url 'register' %}" class="float-left"><span><i
                                        class="fa fa-angle-double-left"></i></span> Don't Have an Account? Register here</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- End Account-Create-Area -->
</section>
<!-- END PAGE-CONTENT -->

{% endblock content %}
