{% load static %}
<div class="sidebar-banner hidden-sm hidden-xs">
    <div class="active-sidebar-banner">
        <div class="single-sidebar-banner">
            <a href="{% url 'product' slug='sony-xperia-10-vii-xq-fe72-turqoise' %}"><img src="{% static 'img/banner/1.jpg' %}" alt="Product Banner"></a>
        </div>
        <div class="single-sidebar-banner">
            <a href="{% url 'product' slug='sony-xperia-10-vii-xq-fe72-turqoise' %}"><img src="{% static 'img/banner/2.jpg' %}" alt="Product Banner"></a>
        </div>
    </div>
</div>
