<div class="mainmenu-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mainmenu hidden-sm hidden-xs">
                    <nav>
                        <ul>
                            <li><a href="{% url 'index' %}">Home</a></li>
                            <li><a href="{% url 'about' %}">About Us</a></li>
                            <li class="hot"><a href="{% url 'bestsellers' %}">Bestsellers</a></li>
                            <li class="new"><a href="{% url 'new_products' %}">New Arrivals</a></li>
                            <li class=""><a href="{% url 'special-offers' %}">Special Offers</a></li>
                            <li><a href="{% url 'contact' %}">Contact Us</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>