{% load static %}
{% load malias_tags %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- jquery
		============================================ -->
        <script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
		<!-- bootstrap JS
		============================================ -->
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
		<!-- wow JS
		============================================ -->
        <script src="{% static 'js/wow.min.js' %}"></script>
		<!-- meanmenu JS
		============================================ -->
        <script src="{% static 'js/jquery.meanmenu.js' %}"></script>
		<!-- owl.carousel JS
		============================================ -->
        <script src="{% static 'js/owl.carousel.min.js' %}"></script>
		<!-- scrollUp JS
		============================================ -->
        <script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
        <!-- countdon.min JS
		============================================ -->
        <script src="{% static 'js/countdon.min.js' %}"></script>
        <!-- jquery-price-slider js
		============================================ -->
        <script src="{% static 'js/jquery-price-slider.js' %}"></script>
        <!-- Nivo slider js
		============================================ -->
		<script src="{% static 'js/jquery.nivo.slider.js' %}" type="text/javascript"></script>
		<!-- plugins JS
		============================================ -->
        <script src="{% static 'js/plugins.js' %}"></script>
		<!-- main JS
		============================================ -->
        <script src="{% static 'js/main.js' %}"></script>




<!-- Скрипт для того, чтобы отображались только города определенного региона -->
<script>
    const regionCities = {{ dict_city|safe }};

const regionSelect = document.getElementById('id_region');
const citySelect = document.getElementById('id_city');


regionSelect.addEventListener('change', function() {
  const selectedRegion = this.value;
  updateCityOptions(selectedRegion);
});


function updateCityOptions(selectedRegion) {
  citySelect.innerHTML = '<option value="" selected>---------</option>';
  if (selectedRegion in regionCities) {
    const cities = regionCities[selectedRegion];
    cities.forEach(city => {
      const option = document.createElement('option');
      option.value = city[1];
      option.text = city[0];
      citySelect.add(option);
    });
  }
}

</script>