<!doctype html>
{% load static %}
{% load humanize %}
{% load malias_tags %}
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{title}} | Malias</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% include 'components/_styles.html' %}
</head>
<body>

<!-- HEADER-AREA START -->
<header class="header-area">
    <!-- HEADER-TOP START -->
    <div class="header-top hidden-xs">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="top-menu">
                        <!-- Start Language -->
                        <ul class="language">
                            <li><a href="#"><img class="right-5" src="{% static 'img/flags/gb.png' %}" alt="#">English<i
                                    class="fa fa-caret-down left-5"></i></a>
                                <ul>
                                    <li><a href="#"><img class="right-5" src="{% static 'img/flags/fr.png' %}" alt="#">Русский (В разработке)</a>
                                    </li>
                                    <li><a href="#"><img class="right-5" src="{% static 'img/flags/fr.png' %}" alt="#">O'zbekcha (Rivojlanishda)</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <!-- End Language -->
                        <!-- Start Currency -->
                        <ul class="currency">
                            <li><a href="#"><strong>$</strong> USD<i class="fa fa-caret-down left-5"></i></a>
                                <ul>
                                    <li><a href="#">UZS</a></li>
                                    <li><a href="#">EUR</a></li>
                                    <li><a href="#">$USD</a></li>
                                </ul>
                            </li>
                        </ul>
                        <!-- End Currency -->
                        <p class="welcome-msg">Welcome!</p>
                    </div>
                    <!-- Start Top-Link -->
                    <div class="top-link">
                        <ul class="link">
                            {% if request.user.is_authenticated %}
                            <li><a href="{% url 'account' %}"><i class="fa fa-user"></i> My Account</a></li>
                            {% count_wishlist request as fav %}
                            <li><a href="{% url 'wishlist' %}"><i class="fa fa-heart"></i> Wish List ({{ fav }})</a></li>
                            <li><a href="{% url 'logout' %}"><i class="fa fa-share"></i> Logout</a></li>
                            {% else %}
                            <li><a href="{% url 'auth' %}"><i class="fa fa-unlock-alt"></i> Login</a></li>
                            {% endif %}

                        </ul>
                    </div>
                    <!-- End Top-Link -->
                </div>
            </div>
        </div>
    </div>
    <!-- HEADER-TOP END -->
    <!-- HEADER-MIDDLE START -->
    <div class="header-middle">
        <div class="container">
            <!-- Start Support-Client -->
            <div class="support-client hidden-xs">
                <div class="row">
                    <!-- Start Single-Support -->
                    <div class="col-md-3 hidden-sm">
                        <div class="single-support">
                            <div class="support-content">
                                <i class="fa fa-clock-o"></i>
                                <div class="support-text">
                                    <h1 class="zero gfont-1">working time</h1>
                                    <p>Mon- Sun: 8.00 - 18.00</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single-Support -->
                    <!-- Start Single-Support -->
                    <div class="col-md-3 col-sm-4">
                        <div class="single-support">
                            <i class="fa fa-truck"></i>
                            <div class="support-text">
                                <h1 class="zero gfont-1">Free shipping</h1>
                                <p>On order over $500</p>
                            </div>
                        </div>
                    </div>
                    <!-- End Single-Support -->
                    <!-- Start Single-Support -->
                    <div class="col-md-3 col-sm-4">
                        <div class="single-support">
                            <i class="fa fa-money"></i>
                            <div class="support-text">
                                <h1 class="zero gfont-1">Money back 100%</h1>
                                <p>Within 30 Days after delivery</p>
                            </div>
                        </div>
                    </div>
                    <!-- End Single-Support -->
                    <!-- Start Single-Support -->
                    <div class="col-md-3 col-sm-4">
                        <div class="single-support">
                            <i class="fa fa-phone-square"></i>
                            <div class="support-text">
                                <h1 class="zero gfont-1">Phone: 0123456789</h1>
                                <p>Order Online Now !</p>
                            </div>
                        </div>
                    </div>
                    <!-- End Single-Support -->
                </div>
            </div>
            <!-- End Support-Client -->
            <!-- Start logo & Search Box -->
            <div class="row">
                <div class="col-md-3 col-sm-12">
                    <div class="logo">
                        <a href="{% url 'index' %}" title="Malias"><img src="{% static 'img/logo.png' %}" alt="Malias"></a>
                    </div>
                </div>
                <div class="col-md-9 col-sm-12">
                    <div class="quick-access">
                        {% include 'components/_search_bar.html' %}
                        {% cart_info request as cart_info %}
                        <div class="top-cart">
                            <ul>
                                <li>
                                    <a href="{% url 'cart' %}">
                                        <span class="cart-icon"><i class="fa fa-shopping-cart"></i></span>
                                        <span class="cart-total">
			                    					<span class="cart-title">Shopping cart</span>
				                    				<span class="cart-item">{{cart_info.cart.product_cart_quantity}} item(s) - </span>
				                    				<span class="top-cart-price">${{cart_info.cart_price|intcomma}}</span>
			                    				</span>
                                    </a>
                                    <div class="mini-cart-content">
                                        {% for item in cart_info.items %}
                                        <div class="cart-img-details">
                                            <div class="cart-img-photo">
                                                <a href="{{item.product.get_absolute_url}}" style="display:flex;
														align-items:center; justify-content:center; max-width: 70px!important; max-height: 70px!important;">
                                                    <img src="{{item.product.get_first_image}}" style="max-width: 70px!important;
                                                    max-height: 70px!important;" alt="{{item.product.title}}"></a>
                                            </div>
                                            <div class="cart-img-content">
                                                <a href="{{item.product.get_absolute_url}}"><h4>
                                                    {{item.product.title}}</h4></a>
                                                <span>
															<strong class="text-right">{{item.quantity}} x </strong>
															<strong class="cart-price text-right">${{item.product.get_price|intcomma}}</strong>
														</span>
                                            </div>
                                            <div class="pro-del">
                                                <form action="{% url 'action_cart' item.product.pk 'clear' %}"
                                                      method="post">
                                                    {% csrf_token %}
                                                    <button TYPE="submit" style="background: none; width: 18px; height: 18px;">
                                                    <a><i class="fa fa-times"></i></a>
                                                        </button>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="clear"></div>
                                        {% endfor %}
                                        <div class="cart-inner-bottom">

													<span class="total">
														Total:
														<span class="amount">${{cart_info.cart_price|intcomma}}</span>
													</span>
                                            <span class="cart-button-top">
														<a href="{% url 'cart' %}">View Cart</a>
														<a href="{% url 'checkout' %}">Checkout</a>
													</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End logo & Search Box -->
        </div>
    </div>
    <!-- HEADER-MIDDLE END -->
    <!-- START MAINMENU-AREA -->
    {% include 'components/_main_menu.html' %}

    <!-- END MAIN-MENU-AREA -->

    {% include 'components/_mobile_menu.html' %}
    <!-- End Mobile-menu -->
</header>
<!-- HEADER AREA END -->


<!-- START PAGE-CONTENT -->
{% block content %}
{% endblock content %}
<!-- END HOME-PAGE-CONTENT -->
{% include 'components/_logo_and_subscribe_area.html' %}

{% include 'components/_footer.html' %}

{% block modal %}
{% endblock modal %}

{% include 'components/_scripts.html' %}
</body>
</html>
